<mat-grid-list cols="4" rowHeight="fit">
  <mat-grid-tile colspan="1" rowspan="15" style="vertical-align: top;">
    <user-list [currentParticipant]="currentParticipant"
               [map]="map"
               (participantSelected)="handleParticipantChange($event)"
               [events]="eventsSubject"
               [isWhatsappSales]="isWhatsappSales"
               [accountIdentifier]="accountIdentifier"
               [accountId]="accountId"
               [company]="company"
               [salesModuleActive]="salesModuleActive"
               >
    </user-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="15" style="vertical-align: top;">
    <communication [accountIdentifier]="accountIdentifier"
                   [accountId]="accountId"
                   [currentParticipant]="currentParticipant"
                   [templates]="templates"
                   [standards]="standards"
                   [eventsMsg]="eventsMsgSubject">
    </communication>
  </mat-grid-tile>
</mat-grid-list>
