<mat-nav-list>
    <mat-toolbar style="margin-top:-7px;height: 50px;">
        <label style="font-size: medium;top:0;">Verkäufe</label>&nbsp;
    </mat-toolbar>
    <ng-container *ngFor="let salesOrder of currentParticipant?.salesorder">
        <ng-container *ngFor="let salesOrderPos of salesOrder.positions">
            <span style="padding-left: 3px;color: white;">&nbsp;{{salesOrder.salesTimestamp | date:'dd.MM.yyyy'}}&nbsp;&nbsp;{{salesOrderPos.brand}}&nbsp;&nbsp;&nbsp;{{salesOrderPos.variantKey}}</span>
            <br/>
        </ng-container>
    </ng-container>
</mat-nav-list>
