:host {
  background: gray;
  height: 100%;
  width: 100%;
}

.user-name {
  color: black;
  width: 75%;
}

.selected {
  font-weight: bold;
}

.mobile-number {
  color: darkgrey;
}

mat-nav-list {
  flex-grow: 1;
  border: 3px solid green;
  height: calc(100vh - 64px);
  overflow: auto;
}
