<mat-nav-list>
  <mat-toolbar style="margin-top:-7px;height: 50px;">
    <label style="font-size: medium;top:0;">Suche:</label>&nbsp;
    <input [(ngModel)]="searchTxt" (keyup)="searchUser()" style="height: 30px;width: 100%;"/>
  </mat-toolbar>
   <ng-container *ngFor="let participant of participantList">
    <mat-list-item (click)="selectParticipant(participant);" (contextmenu)="onRightClick($event)" style="cursor: pointer;height: 30px;">
      <span matListItemTitle>
        <div class="user-name" [class.selected]="participantId == participant.id">{{participant.participantName}}</div>
        &nbsp;
        <div class="mobile" [class.selected]="participantId == participant.id">{{participant.participantMobile}}</div>
        <div *ngIf="participant.newMessageCount && participant.newMessageCount > 0" style="padding: 5px;">
          <button mat-mini-fab>{{participant.newMessageCount}}</button>
        </div>
        <div class="iconLine" *ngIf="participant.registrationMap.brochure && participant.registrationMap.brochure.registrationOptin">
          &nbsp;<mat-icon>check_circle</mat-icon>
        </div>
      </span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-nav-list>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

<!-- standard material menu -->
<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent let-item="item" *transloco="let t">
        <button mat-menu-item>Verkäufe</button>
    </ng-template>
</mat-menu>