<mat-nav-list>
  <ng-container *ngFor="let participant of map | keyvalue : asIsOrder">
    <mat-list-item (click)="selectParticipant(participant.value);" style="cursor: pointer;"
                   [class.selected]="participantId == participant.value.id">
      <div matListItemTitle class="user-name">{{participant.value.participantName}}</div>
      <div *ngIf="participant.value.newMessageCount && participant.value.newMessageCount > 0" style="padding: 5px;">
        <button mat-mini-fab>{{participant.value.newMessageCount}}</button>
      </div>
      <div matListItemLine >{{participant.value.participantMobile}}</div>
      <div *ngIf="participant.value.registrationMap.brochure && participant.value.registrationMap.brochure.registrationOptin">
        &nbsp;<mat-icon style="color: #25D366;">check_circle</mat-icon>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-nav-list>
