<mat-nav-list>
  <mat-toolbar>
    <label style="font-size: medium;">Suche:</label>&nbsp;
    <input [(ngModel)]="searchTxt" (keyup)="searchUser()" style="height: 30px;width: 300px;"/>
  </mat-toolbar>
   <ng-container *ngFor="let participant of participantList">
    <mat-list-item (click)="selectParticipant(participant);" style="cursor: pointer;height: 35px;"
                   [class.selected]="participantId == participant.id">
      <div matListItemTitle class="user-name">{{participant.participantName}}</div>
      <div *ngIf="participant.newMessageCount && participant.newMessageCount > 0" style="padding: 5px;">
        <button mat-mini-fab>{{participant.newMessageCount}}</button>
      </div>
      <div matListItemLine class="mobile">{{participant.participantMobile}}</div>
      <div class="iconLine" *ngIf="participant.registrationMap.brochure && participant.registrationMap.brochure.registrationOptin">
        &nbsp;<mat-icon>check_circle</mat-icon>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-nav-list>
