<div style="float:none;border-bottom: 1px lightgray solid;background-color: black;">
  <mat-form-field appearance="outline" class="message-full-width">
    <mat-label>Template auswählen</mat-label>
    <mat-select [(ngModel)]="currentTemplate" (selectionChange)="onTemplateSelect()">
      <mat-option [value]=""></mat-option>
      <mat-option *ngFor="let template of templates" [value]="template">{{template.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="currentTemplate" style="padding: 5px; float:none;border-bottom: 1px lightgray solid;background-color: black;">
  <label >Name: </label><span>{{currentTemplate.name}}</span><br/>
  <label >Status: </label><span>{{currentTemplate.status}}</span>
  <ng-container *ngFor="let component of currentTemplate.components">
    <div *ngIf="component.type == 'HEADER' && component.format == 'IMAGE'" style="margin-top: 6px;">
     <mat-form-field>
       <mat-label>Header-Bild-URL</mat-label>
       <input matInput style="width: 250px;"/>
     </mat-form-field>
    </div>
    <div *ngIf="component.type == 'BODY'">
      <span>{{component.text}}</span><br/><br/>
      <ng-container *ngFor="let index of [1,2,3,4,5,6,7]">
        <ng-container *ngIf="isVariable(String(component.text), index)">
          <mat-form-field>
            <mat-label>Variable: {{index}} </mat-label>
            <input matInput style="width: 250px;"/>
          </mat-form-field>
          <br/>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <button mat-raised-button color="primary"(click)="sendTemplate()" style="cursor: pointer;">
    Template senden
  </button>
</div>
