.user-name {
    color: white;
    font-size: small;
    float:left;
    width: 50%;
}

.mobile {
    font-size: small;
    float:left;
    width: 30%;
}

.mat-icon {
    color: #25D366;
    font-size: 20px;
}

.iconLine {
    text-align: right;
    float:left;
    width: 15%;
}

.selected {
    font-weight: bold;
    font-size: medium;
}

.mobile-number {
    color: darkgrey;
}

.message-full-width{
    padding: 5px;
}
