<div id="communicationContent">
  <cdk-virtual-scroll-viewport appendOnly [itemSize]="itemSize" class="communication-viewport" #scrollViewport>
    <ng-container *cdkVirtualFor="let message of currentParticipant?.messages | keyvalue">
      <div class="communicationText" [class.right]="message.value.type == 1" [class.left]="message.value.type == 2">
        <span [class.received]="message.value.type == 1" [class.sent]="message.value.type == 2">
          {{message.value.text}}
          <ng-container *ngIf="message.value.media">
            <img *ngIf="message.value.media.contentType.startsWith('image')" [src]="imagePath(message.value.media)" width="300px"/>
            <video *ngIf="message.value.media.contentType.startsWith('video')"  width="300px" controls>
              <source [src]="imagePath(message.value.media)" type="{{message.value.media.contentType}}">
              Your browser does not support the video tag.
            </video>
            <audio *ngIf="message.value.media.contentType.startsWith('audio')" [src]="imagePath(message.value.media)" width="300px" controls>
              <source [src]="imagePath(message.value.media)" type="{{message.value.media.contentType}}">
              Your browser does not support the audio tag.
            </audio>
          </ng-container>
        </span>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
  <div class="textField">
    <mat-divider></mat-divider>
    <div style="width: 100%;height: 100%;">
      <div style="float: left;width: 80%;">
        <mat-form-field class="message-full-width">
          <mat-label>Text</mat-label>
          <input type="text" matInput placeholder="Text" [(ngModel)]="messageText" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div style="height: 100%;">
        <mat-icon class="postButton" (click)="postMessage()">send</mat-icon>
      </div>
    </div>
  </div>
</div>
