<div id="communicationContent">
  <cdk-virtual-scroll-viewport appendOnly [itemSize]="itemSize" class="communication-viewport" #scrollViewport>
    <ng-container *cdkVirtualFor="let message of currentParticipant?.messages | keyvalue">
      <div class="communicationText" [class.right]="message.value.direction == 1" [class.left]="message.value.direction == 2">
        <span [class.received]="message.value.direction == 1" [class.sent]="message.value.direction == 2">
          {{message.value.text}}
          <ng-container *ngIf="message.value.media">
            <img *ngIf="message.value.media.contentType.startsWith('image')" [src]="imagePath(message.value.media)" width="300px"/>
            <video *ngIf="message.value.media.contentType.startsWith('video')"  width="300px" controls>
              <source [src]="imagePath(message.value.media)" type="{{message.value.media.contentType}}">
              Your browser does not support the video tag.
            </video>
            <audio *ngIf="message.value.media.contentType.startsWith('audio')" width="300px" controls>
              <source [src]="imagePath(message.value.media)" type="{{message.value.media.contentType}}">
              Your browser does not support the audio tag.
            </audio>
            <a *ngIf="message.value.media.contentType.startsWith('application')" (click)="downloadFile(message.value.media)" style="cursor: pointer;">
              {{message.value.media.name}}
            </a>
          </ng-container>
        </span>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
  <div *ngIf="currentParticipant" class="textField">
    <mat-divider></mat-divider>
    <div style="width: 100%;">
      <div style="float: left;width: 60%;margin-top: 5px;vertical-align: center;">
        <mat-form-field class="message-full-width" appearance="outline">
          <textarea type="text"
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    placeholder="Text"
                    [(ngModel)]="messageText"
                    [ngModelOptions]="{standalone: true}"
                    (keyup.enter)="postMessage()">
          </textarea>
        </mat-form-field>
      </div>
      <div style="float: left;width: 34%;margin-top: 5px;vertical-align: center;">
        <mat-form-field appearance="outline" class="message-full-width">
          <mat-label>Standardnachricht auswählen</mat-label>
          <mat-select [(ngModel)]="standardText" (selectionChange)="onStandardSelect()">
            <mat-option [value]=""></mat-option>
            <mat-option *ngFor="let standard of standards" value="{{standard.property_value}}">{{standard.property_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
     <!-- <div style="width:30%;text-align: center;margin-top: 5px;float: left;">
        <mat-form-field appearance="outline" class="message-full-width">
          <mat-label>Template auswählen</mat-label>
          <mat-select [(ngModel)]="templateText">
            <mat-option [value]=""></mat-option>
            <mat-option *ngFor="let template of templates" value="{{template.property_value}}">{{template.property_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>-->
      <div style="width:5%; float:left;height: 100%;margin-left: 5px; margin-top: 15px; text-align: center;">
        <mat-icon class="postButton white-icon" (click)="postMessage()">send</mat-icon>
      </div>
    </div>
  </div>
</div>
