<mat-toolbar class="matToolbarMgmt" color="black">
  <button *ngIf="isWhatsappAdmin || isReportUser" mat-icon-button [matMenuTriggerFor]="menu" class="iconStyle">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button *ngIf="isWhatsappAdmin || isReportUser" (click)="addContent(1)" mat-menu-item>WhatsApp-Tool</button>
      <button *ngIf="isWhatsappSales" (click)="addContent(5)" mat-menu-item>Verkäufe</button>
      <button *ngIf="isWhatsappNewsletter" (click)="addContent(4)" mat-menu-item>Newsletter</button>
      <button *ngIf="isWhatsappAdmin" (click)="addContent(2)" mat-menu-item>Newsletter-Konfiguration</button>
      <button *ngIf="isReportUser" (click)="addContent(3)" mat-menu-item>Berichte</button>
    </mat-menu>
  </button>
  <span class="example-spacer"></span>
  <span>Whatsapp - Messenger</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="iconStyle" (click)="cancelSession()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<div id="mainContent" #mainContent>
  <messenger *ngIf="accountIdentifier && accountId"
             [accountIdentifier]="accountIdentifier"
             [accountId]="accountId"
             [templates]="templates"
             [standards]="standards"
             [isWhatsappSales]="isWhatsappSales"
             [company]="company"
             >
  </messenger>
</div>
