<mat-accordion class="headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Newsletter Konfiguration
      </mat-panel-title>
      <mat-panel-description>
        Werte eintragen
        <mat-icon>mail_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <process-values></process-values>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Standard Antworten
      </mat-panel-title>
      <mat-panel-description>
        Werte eintragen
        <mat-icon>question_answer</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Templates
      </mat-panel-title>
      <mat-panel-description>
        Werte eintragen
        <mat-icon>notes</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
